
@{
    ViewBag.Title = "Wide Word Web";
}

<div id="divSearch">
    <h3><label class="label label-primary">Search for Connections</label></h3>
    <input id="inputSearch" type="search" class="input-lg" onkeypress= "return enterRunSearch()" />
    <button id="buttonRunSearch" class="btn btn-default">Go</button>
</div>
<script type="text/javascript">
    window.onload = function () {
        var button = document.getElementById('buttonRunSearch');
        if (button) {
            button.onclick = runSearch;
        }
    }
    function runSearch() {
        var search = document.getElementById('inputSearch');
        if (search) {
            var term = search.value;
            var url = '@Url.Action("Search","Home")?Word=' + term;
            location.href = url;
        }
    }
    function enterRunSearch() {
        if (event.which == 13 || event.keyCode == 13) {
            runSearch();
        }
    };
</script>
